@mixin ui {
  background: $lightgray;
  @include ui__grid;
  
  .ui__images {
    @include ui__images;
  }
}


@mixin ui__grid {
  display: flex;
  align-items: center;

  .ui__title {
    display: flex;
    flex: 1 0 0px;
  }

  .ui__images {
    flex: 4 0 0px;

    @include tablet-and-below {
      flex: 2 0 0px;
    }

    // center
    display: flex;
    justify-content: center;
  }
}
