@mixin strapline-and-footer {
  .spacer {
    height: $lem * 7;
  }

  #strapline {
    padding-left: $lem;
    @include strapline;
  }

  #footer {
    padding-left: $lem;
    @include footer;
  }
}
