@mixin value--wordpress {
  @include mobile-and-up {
    display: flex;
    align-items: center;

    .value--wordpress__images {
      order: -1;
      margin-right: $lem;
    }

    .value--wordpress__title {
      display: none;
    }
  }

  .value--wordpress__description {
    @include wordpress__description;
  }
}
