@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Josefin Sans Thin'), local('JosefinSans-Thin'), url(http://fonts.gstatic.com/s/josefinsans/v9/q9w3H4aeBxj0hZ8Osfi3d1dBB84BqlWy1BjOnCrU9PY.woff2) format('woff2'), url(http://fonts.gstatic.com/s/josefinsans/v9/q9w3H4aeBxj0hZ8Osfi3dy1dfeF-hbOdKKuBDEXxqhQ.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(http://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5nhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Josefin Sans SemiBold'), local('JosefinSans-SemiBold'), url(http://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z_Bf3Xtc57ojmY2ox2Xv8Go.woff2) format('woff2'), url(http://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z9Od4RnLmtUrdSQkDmC5b8k.woff) format('woff');
}


@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'), url(http://fonts.gstatic.com/s/playfairdisplay/v10/9MkijrV-dEJ0-_NWV7E6NwXiAI3F8adTt8b-_w2WoPM.woff2) format('woff2'), url(http://fonts.gstatic.com/s/playfairdisplay/v10/9MkijrV-dEJ0-_NWV7E6N3aqFElqJjV-H5EUExnZgmU.woff) format('woff');
}



html {
  font-size: 66.667%;
}



section {
  display: flex;
  justify-content: center;
}

section figure img {
  max-width: 1024px;
  position: relative;
  margin-top: -5%;
}

section figure figcaption {
  display: flex;
  justify-content: center;
}

section figure figcaption div {
  background: black;
  color: white;

  margin: 2.5em;
  width: 5em;
  height: 5em;
  border: 1px solid black;
  border-radius: 5em;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 2;
}

section figure hr {
  position: relative;
  top: -5.75em;
}

section figure {
  position: relative;
}



header {
  padding: 5% 10%;
}

header h1 {
  font-family: 'Josefin Sans';
  font-weight: 100;
  font-size: 600%;

  -moz-transform: rotate(-90deg);
  position: fixed;
  top: 45%;
}

header h1:hover {
  -moz-transform: rotate(0deg);
}


header p {
  font-family: 'Playfair Display';
}

header p.strapline {
  font-size: 200%;
}

header p.since {
  color: red;
}
