html {
  font-size: 100%;
}

h1 {
  font-size: 600%;
  padding: 5% 10%;
}

@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url(http://fonts.gstatic.com/l/font?kit=84C5ypKTyJOpQJLXN99EBHYSzsJRvhi1aDja_HwfY4s) format('woff2'), url(http://fonts.gstatic.com/l/font?kit=CrsrrlssGZpsaWFMfuSviHYSzsJRvhi1aDja_HwfY4s) format('woff');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  src: local('Arimo Bold'), local('Arimo-Bold'), url(http://fonts.gstatic.com/l/font?kit=rIJckJSVIumssklHiuKCI894Dv_ayLmXkZzXGFU7ZGM) format('woff2'), url(http://fonts.gstatic.com/l/font?kit=wJ_S-Q_b2E_UiLld2q_Enc94Dv_ayLmXkZzXGFU7ZGM) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/l/font?kit=IQHow_FEYlDC4Gzy_m8fcvlX7jDQJycG0eP7xMspmoY) format('woff2'), url(http://fonts.gstatic.com/l/font?kit=IQHow_FEYlDC4Gzy_m8fck-dibx5kEfJSR4xKrVQ34Y) format('woff');
}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(http://fonts.gstatic.com/l/font?kit=ObxytbfKasUWX7_ipglurFX24DT2zur72vZA2sjqs_8) format('woff2'), url(http://fonts.gstatic.com/l/font?kit=BTpJg8_B_DLGSuk_1Pf0tlX24DT2zur72vZA2sjqs_8) format('woff');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Josefin Sans Thin'), local('JosefinSans-Thin'), url(http://fonts.gstatic.com/l/font?kit=q9w3H4aeBxj0hZ8Osfi3d8bE8gcUuAd7xgV7AEcJM0Q) format('woff2'), url(http://fonts.gstatic.com/l/font?kit=q9w3H4aeBxj0hZ8Osfi3dz0JDW2eCd_G__4SQ17xXBU) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Josefin Sans SemiBold'), local('JosefinSans-SemiBold'), url(http://fonts.gstatic.com/l/font?kit=C6HYlRF50SGJq1XyXj04zy6_D-eJxu9x4QvmEJpRgdY) format('woff2'), url(http://fonts.gstatic.com/l/font?kit=C6HYlRF50SGJq1XyXj04z-KD1cnDAeVCc2CcvZEnEJ4) format('woff');
}

@font-face {
  font-family: 'Voltaire';
  font-style: normal;
  font-weight: 400;
  src: local('Voltaire'), url(http://fonts.gstatic.com/l/font?kit=JgQpnQ_li1xdO1iJtGICic94Dv_ayLmXkZzXGFU7ZGM) format('woff2'), url(http://fonts.gstatic.com/l/font?kit=bxP0xlz9B8zQSn_lpaKCxM94Dv_ayLmXkZzXGFU7ZGM) format('woff');
}

@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  src: local('Inder'), local('Inder-Regular'), url(http://fonts.gstatic.com/l/font?kit=iWp9wkWoV4-dqQmq48vGUjYis-qaII26_mnaV7YFBac) format('woff2'), url(http://fonts.gstatic.com/l/font?kit=EBO2JDILFa-fHjH9dd52PjYis-qaII26_mnaV7YFBac) format('woff');
}

@font-face {
  font-family: 'Codystar';
  font-style: normal;
  font-weight: 300;
  src: local('Codystar Light'), local('Codystar-Light'), url(http://fonts.gstatic.com/l/font?kit=EVaUzfJkcb8Zqx9kzQLXqjLAUKKLrZo1n8WC8d73ulA) format('woff2'), url(http://fonts.gstatic.com/l/font?kit=EVaUzfJkcb8Zqx9kzQLXqty3r39iD4rnWCn9LbFGSrg) format('woff');
}
@font-face {
  font-family: 'Codystar';
  font-style: normal;
  font-weight: 400;
  src: local('Codystar'), url(http://fonts.gstatic.com/l/font?kit=9ENX9imm-XHaOMw6ehPVcM94Dv_ayLmXkZzXGFU7ZGM) format('woff2'), url(http://fonts.gstatic.com/l/font?kit=R6Qns_iaVRazko5o6E8l8c94Dv_ayLmXkZzXGFU7ZGM) format('woff');
}

@font-face {
  font-family: 'Geo';
  font-style: normal;
  font-weight: 400;
  src: local('Geo'), local('Geo-Regular'), url(http://fonts.gstatic.com/l/font?kit=raTt-YRITVaaHET7nFOxGfesZW2xOQ-xsNqO47m55DA) format('woff2'), url(http://fonts.gstatic.com/l/font?kit=1iaxWd35KRJI4CiI9B8XIPesZW2xOQ-xsNqO47m55DA) format('woff');
}

@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  src: local('Italiana'), local('Italiana-Regular'), url(http://fonts.gstatic.com/l/font?kit=mJaRUtZQ5WyJjbzNYOZNWc94Dv_ayLmXkZzXGFU7ZGM) format('woff2'), url(http://fonts.gstatic.com/l/font?kit=frTHJ3tr5kHexKIthayy5s94Dv_ayLmXkZzXGFU7ZGM) format('woff');
}


@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://fonts.gstatic.com/l/font?kit=8Lg6LX8-ntOHUQnvQ0E7oy2pkF0z1Hz0yEaTidUpQZU) format('woff2'), url(http://fonts.gstatic.com/l/font?kit=8Lg6LX8-ntOHUQnvQ0E7o9lwiIhExW3yrz_MZ8xCxf0) format('woff');
}




#montserrat h1 {
  font-family: 'Montserrat', sans-serif;
}

#arimo h1 {
  font-family: 'Arimo', sans-serif;
}

#abel h1 {
  font-family: 'Abel', sans-serif;
}

#poiret h1 {
  font-family: 'Poiret One', sans-serif;
}

#josefin100 h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
}

#josefin600 h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

#voltaire h1 {
  font-family: 'Voltaire', sans-serif;
}

#inder h1 {
  font-family: 'Inder', sans-serif;
}

#codystar300 h1 {
  font-family: 'Codystar', sans-serif;
  font-weight: 300;
}

#codystar400 h1 {
  font-family: 'Codystar', sans-serif;
  font-weight: 400;
}

#geo h1 {
  font-family: 'Geo', sans-serif;
}

#italiana h1 {
  font-family: 'Italiana', sans-serif;
}

#press h1 {
  font-family: 'Press Start 2P', sans-serif;
}
