html {
  font-size: 100%;
}

h1 {
  font-size: 600%;
  padding: 5% 10%;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
#montserrat h1 {
  font-family: 'Montserrat', sans-serif;
}
