@mixin work--thumb {

  padding-bottom: $lem * 2;

  &:last-of-type {
    padding-bottom: 0;
  }


  @include mobile-and-up {
    margin-right: $lem;
    margin-bottom: $lem;
  }


  figure {
    @include figure;

    @include mobile {
      @include shadow(2);
    }
  }


  .work--thumb__services {
    padding-top: $lem / 2;

    // Break text when it is longer than the image
    @include mobile {
      max-width: 320px;
    }
  }

}
