@mixin work--thumb {
  padding-bottom: $lem * 2;

  &:last-of-type {
    padding-bottom: 0;
  }

  @include tablet {
    width: 45%;
    padding-right: $lem;
  }

  @include tablet-and-up {
    max-width: 320px;
    padding-right: $lem * 3;
  }


  figure {
    @include figure;
    @include color-overlay($lightblue);
  }


  .work--thumb__services {
    padding-top: $lem / 2;

    // Break text when it is longer than the image
    max-width: 320px;
  }

}
