@mixin work--thumb {
  padding-bottom: $lem * 2;

  @include mobile {
    &:last-of-type {
      padding-bottom: 0;
    }
  }

  @include mobile-and-up {
    margin-right: $lem * 3;
    margin-bottom: $lem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }


  figure {
    @include figure;
  }


  .work--thumb__services {
    padding-top: $lem / 2;

    // Break text when it is longer than the image
    max-width: 320px;
  }

}
