// Sliding menu
// - https://developers.google.com/web/fundamentals/look-and-feel/animations/animating-between-views

@mixin sliding-menu {
  height: 100%;

  body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;

    #menu, main {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      will-change: transform;
      transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    }

    #menu {
      width: 300px;
      transform: translateX(-300px);
    }

    &.view-change {
      #menu {
        transform: translateX(0);
      }

      main {
        transform: translateX(300px);
      }
    }
  }
}
