@mixin base {
  @include sliding-menu;

  #menu {
    @include menu;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .spacer {
      height: $lem * 7;
    }

    #header {
      padding-left: $lem;
      @include header;
    }

    #logo {
      padding-left: $lem;
      @include logo;
    }
  }
}
