@mixin base {
  @include sliding-menu;

  #menu, #strapline-and-footer {
    display: flex;
    flex-direction: column;
  }

  #menu {
    justify-content: flex-end;
    @include menu;
  }

  #strapline-and-footer {
    justify-content: space-around;
    @include strapline-and-footer;
  }

}
