<section id="base">
  <h3>Base layer</h3>

  <nav id="menu">
  <h3>Menu</h3>

  <ul>
    <li>design</li>
    <li>code</li>
    <li>about</li>
    <li>contact</li>
  </ul>
</nav>

  <article id="strapline-and-footer">
  <h3>Strapline and footer</h3>

  <aside id="strapline">
  <h3>
    <a href="/" title="Metamn">
      design &amp; code
    </a>
  </h3>
</aside>


  <!-- Needed for flexbox alignment -->
  <div class="spacer">&nbsp;</div>

  <aside id="footer">
  <h3>Footer</h3>

  <aside id="logo">
  <h3>Logo</h3>

  <span class="first-letter">
    <span class="circle">M</span>
  </span>

  <span class="site-title">Metamn</span>
</aside>

  
</aside>

</article>


</section>
