@mixin content {
  @include full-page(visible);
  @include full-page-scroll;

  section {
    @include full-page($position: absolute);

    aside, article {
      @include full-page($position: absolute);

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    article {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-left: $home-image-left-from-center;
      align-items: center;
    }
  }
}
