@mixin portfolio {

  .container {
    @include colors(white-on-blue);
    padding: $lem;

    flex-basis: 100%;
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    @include mobile-and-up {
      flex-wrap: nowrap;
    }
  }

  .portfolio__services {
    @include portfolio__services;
  }

  .portfolio__description {
    @include portfolio__description;
  }

  .portfolio__images {
    @include portfolio__images;
  }
}
