


<!doctype html>
<html lang="en" class="home">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Home &mdash; Metamn</title>

    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <script src="//use.typekit.net/qiy3lwz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>



<section id="base">
  <h3>Header, footer and menu</h3>

  <nav id="menu">
  <h3>Menu</h3>

  <ul>
    <li>design</li>
    <li>code</li>
    <li>about</li>
    <li>contact</li>
  </ul>
</nav>


  <article>
    <h3>Header and footer</h3>
    <header id="header">
  <h1>
    <a href="/" title="Metamn">
      design &amp; code
    </a>
  </h1>
</header>


    <div class="spacer">&nbsp;</div>

    <div id="logo">
  <span class="first-letter">
    <span class="circle">M</span>
  </span>
  
  <span class="site-title">Metamn</span>
</div>

  </article>
</section>

<main id="content">
  

  
    <section id="ui">
      <h3>Clean User Interfaces</h3>

      <aside>
        <h1>Clean <br/> User <br/> Interfaces</h1>
      </aside>

      <article>
        <h3>The Anvelocom frontpage on laptop</h3>

        
        <figure >
  

  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/anvelocom-archive-laptop-front_desktop.png, /assets/images/anvelocom-archive-laptop-front_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/anvelocom-archive-laptop-front_laptop.png, /assets/images/anvelocom-archive-laptop-front_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/anvelocom-archive-laptop-front_tablet.png, /assets/images/anvelocom-archive-laptop-front_tablet2x.png 2x">
    <source srcset="/assets/images/anvelocom-archive-laptop-front_mobile.png, /assets/images/anvelocom-archive-laptop-front_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/anvelocom-archive-laptop-front_desktop.png" alt="The Anvelocom frontpage on laptop">
  </picture>

  <figcaption>
    The Anvelocom frontpage on laptop
  </figcaption>

  
</figure>

      </article>
    </section>
  


</main>


<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

