html.home {
  @include sliding-menu;

  body {
    @include colors(black-on-white);

    #menu {
      @include menu;
    }

    main {
      #header {
        @include header;

        position: fixed;
        left: $lem;
        top: $lem;
        cursor: pointer;
      }

      #logo {
        @include logo;

        position: fixed;
        bottom: $lem;
        left: $lem;
        cursor: pointer;
      }
    }


    &.view-change {
      main {
        #logo {
          @include logo-rotate;
        }
      }
    }
  }
}
