@mixin figure($figcaption: off) {
  margin: 0;

  img {
    max-width: 100%;
    height: auto;
  }

  // Remove the extra bottom spacing for <img> inside <a>
  a {
    line-height: 0;
    display: block;
  }

  figcaption {
    @if ($figcaption == off) {
      display: none;
    }

    @if ($figcaption == on) {
      display: flex;
    }

    @if ($figcaption == figcaption) {
      display: none;

      &.figcaption {
        display: flex;
      }
    }

    @if ($figcaption == from-title) {
      display: none;
      
      &.figcaption--from-title {
        display: flex;
      }
    }
  }
}
