@mixin portfolio__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  figure {
    @include tablet-and-below {
      padding-top: $lem;
    }

    @include figure($figcaption: figcaption);

    figcaption {
      @include text-style(small-text);
    }

    &.iphone {
      width: calc(50% - #{$lem / 2});
      &:first-of-type {
        margin-right: $lem;
      }

      @include tablet-and-up {
        display: none;
      }
    }
  }
}
