@mixin portfolio__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: $lem $lem 0;

  figure {
    padding-bottom: $lem;

    @include figure($figcaption: figcaption);

    figcaption {
      @include text-style(small-text);
    }

    &.iphone {
      width: 35%;
      &:first-of-type {
        padding-right: $lem;
      }


      @include tablet-and-up {
        display: none;
      }
    }

    &.desktop--left {
      padding-left: $lem;
      padding-right: $lem;
    }
  }
}
