@mixin portfolio__image {
  figure {
    @include figure($figcaption: figcaption);

    figcaption {
      @include text-style(small-text);

      &.figcaption {
        padding-bottom: $lem;
      }
    }
  }

  &.image--half {
    width: 45%;
    margin-left: 3.3%;
  }

  &.image--centered {
    margin: 0 3.3%;
  }
}
