


<!doctype html>
<html lang="en" class="work">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Work &mdash; Metamn</title>

    <script src="//use.typekit.net/wrb3hlx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>


<header class="header">
  <div class="logo">
  <div class="logo__first-letter">
  
  <span class="circle">
  <span class="circle__content">M</span>
</span>

</div>


  <h1 class="logo__site-title">
    
    

  











  





<a href="/" title="Metamn">Metamn</li>

  </h1>
</div>

</header>




  <article class="title">
  <h3>Work</h3>
</article>


  <section class="works">
    <h3>Works</h3>

    
      
      <article class="work work--thumb">
  <h3 class="work--thumb__title">Wanderlust</h3>

  
  <figure >
  
    <a href="/wanderlust" title="The Wanderlust screenshot">
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/wanderlust-mobile-screenshot_desktop.png, /assets/images/wanderlust-mobile-screenshot_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/wanderlust-mobile-screenshot_laptop.png, /assets/images/wanderlust-mobile-screenshot_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/wanderlust-mobile-screenshot_tablet.png, /assets/images/wanderlust-mobile-screenshot_tablet2x.png 2x">
    <source srcset="/assets/images/wanderlust-mobile-screenshot_mobile.png, /assets/images/wanderlust-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/wanderlust-mobile-screenshot_desktop.png" alt="The Wanderlust screenshot">
  </picture>

  <figcaption>
    The Wanderlust screenshot
  </figcaption>

  </a>
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      Front-end, Wordpress
    </div>
  </aside>
</article>

    
      
      <article class="work work--thumb">
  <h3 class="work--thumb__title">Iorad</h3>

  
  <figure >
  
    <a href="/iorad" title="The Iorad screenshot">
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/iorad-mobile-screenshot_desktop.png, /assets/images/iorad-mobile-screenshot_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/iorad-mobile-screenshot_laptop.png, /assets/images/iorad-mobile-screenshot_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/iorad-mobile-screenshot_tablet.png, /assets/images/iorad-mobile-screenshot_tablet2x.png 2x">
    <source srcset="/assets/images/iorad-mobile-screenshot_mobile.png, /assets/images/iorad-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/iorad-mobile-screenshot_desktop.png" alt="The Iorad screenshot">
  </picture>

  <figcaption>
    The Iorad screenshot
  </figcaption>

  </a>
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      Design, Front-end
    </div>
  </aside>
</article>

    
      
      <article class="work work--thumb">
  <h3 class="work--thumb__title">OCCRP</h3>

  
  <figure >
  
    <a href="/occrp" title="The OCCRP screenshot">
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/occrp-mobile-screenshot_desktop.png, /assets/images/occrp-mobile-screenshot_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/occrp-mobile-screenshot_laptop.png, /assets/images/occrp-mobile-screenshot_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/occrp-mobile-screenshot_tablet.png, /assets/images/occrp-mobile-screenshot_tablet2x.png 2x">
    <source srcset="/assets/images/occrp-mobile-screenshot_mobile.png, /assets/images/occrp-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/occrp-mobile-screenshot_desktop.png" alt="The OCCRP screenshot">
  </picture>

  <figcaption>
    The OCCRP screenshot
  </figcaption>

  </a>
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      Design, Front-end
    </div>
  </aside>
</article>

    
      
      <article class="work work--thumb">
  <h3 class="work--thumb__title">Reboot</h3>

  
  <figure >
  
    <a href="/reboot" title="The Reboot screenshot">
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/reboot-mobile-screenshot_desktop.png, /assets/images/reboot-mobile-screenshot_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/reboot-mobile-screenshot_laptop.png, /assets/images/reboot-mobile-screenshot_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/reboot-mobile-screenshot_tablet.png, /assets/images/reboot-mobile-screenshot_tablet2x.png 2x">
    <source srcset="/assets/images/reboot-mobile-screenshot_mobile.png, /assets/images/reboot-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/reboot-mobile-screenshot_desktop.png" alt="The Reboot screenshot">
  </picture>

  <figcaption>
    The Reboot screenshot
  </figcaption>

  </a>
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      Front-end, Wordpress
    </div>
  </aside>
</article>

    
      
      <article class="work work--thumb">
  <h3 class="work--thumb__title">Anvelocom</h3>

  
  <figure >
  
    <a href="/anvelocom" title="The Anvelocom screenshot">
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/anvelocom-mobile-screenshot_desktop.png, /assets/images/anvelocom-mobile-screenshot_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/anvelocom-mobile-screenshot_laptop.png, /assets/images/anvelocom-mobile-screenshot_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/anvelocom-mobile-screenshot_tablet.png, /assets/images/anvelocom-mobile-screenshot_tablet2x.png 2x">
    <source srcset="/assets/images/anvelocom-mobile-screenshot_mobile.png, /assets/images/anvelocom-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/anvelocom-mobile-screenshot_desktop.png" alt="The Anvelocom screenshot">
  </picture>

  <figcaption>
    The Anvelocom screenshot
  </figcaption>

  </a>
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      Design, Front-end, Wordpress
    </div>
  </aside>
</article>

    
      
      <article class="work work--thumb">
  <h3 class="work--thumb__title">Scatter</h3>

  
  <figure >
  
    <a href="/scatter" title="The Scatter screenshot">
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/scatter-frontpage-mobile-screenshot_desktop.png, /assets/images/scatter-frontpage-mobile-screenshot_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/scatter-frontpage-mobile-screenshot_laptop.png, /assets/images/scatter-frontpage-mobile-screenshot_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/scatter-frontpage-mobile-screenshot_tablet.png, /assets/images/scatter-frontpage-mobile-screenshot_tablet2x.png 2x">
    <source srcset="/assets/images/scatter-frontpage-mobile-screenshot_mobile.png, /assets/images/scatter-frontpage-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/scatter-frontpage-mobile-screenshot_desktop.png" alt="The Scatter screenshot">
  </picture>

  <figcaption>
    The Scatter screenshot
  </figcaption>

  </a>
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      Design, Front-end
    </div>
  </aside>
</article>

    
      
      <article class="work work--thumb">
  <h3 class="work--thumb__title">Inu Chivu</h3>

  
  <figure >
  
    <a href="/inu-chivu" title="The Inu Chivu screenshot">
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/inu-archive-mobile-screenshot_desktop.png, /assets/images/inu-archive-mobile-screenshot_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/inu-archive-mobile-screenshot_laptop.png, /assets/images/inu-archive-mobile-screenshot_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/inu-archive-mobile-screenshot_tablet.png, /assets/images/inu-archive-mobile-screenshot_tablet2x.png 2x">
    <source srcset="/assets/images/inu-archive-mobile-screenshot_mobile.png, /assets/images/inu-archive-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/inu-archive-mobile-screenshot_desktop.png" alt="The Inu Chivu screenshot">
  </picture>

  <figcaption>
    The Inu Chivu screenshot
  </figcaption>

  </a>
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      Design, Front-end, Wordpress
    </div>
  </aside>
</article>

    
      
      <article class="work work--thumb">
  <h3 class="work--thumb__title">Smuff</h3>

  
  <figure >
  
    <a href="/smuff" title="The Smuff screenshot">
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/smuff-archive-mobile-screenshot_desktop.png, /assets/images/smuff-archive-mobile-screenshot_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/smuff-archive-mobile-screenshot_laptop.png, /assets/images/smuff-archive-mobile-screenshot_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/smuff-archive-mobile-screenshot_tablet.png, /assets/images/smuff-archive-mobile-screenshot_tablet2x.png 2x">
    <source srcset="/assets/images/smuff-archive-mobile-screenshot_mobile.png, /assets/images/smuff-archive-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/smuff-archive-mobile-screenshot_desktop.png" alt="The Smuff screenshot">
  </picture>

  <figcaption>
    The Smuff screenshot
  </figcaption>

  </a>
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      Design, Front-end, Wordpress, Yii, E-commerce
    </div>
  </aside>
</article>

    
  </section>



<nav class="links links--main">
  <h3>Main links</h3>

  <ul>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a href="/work" title="Work">Work</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a href="/styleguide" title="Styleguide">Styleguide</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a href="/about" title="About">About</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a href="/contact" title="Contact">Contact</li>

      </li>
    
  </ul>
</nav>

<nav class="links links--articles">
  <h3>Articles</h3>

  <ul>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a href="/how-this-site-was-made" title="How this site was made">How this site was made</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a href="/bem-+-gulp:-a-framework-and-workflow" title="BEM + Gulp: A framework and workflow">BEM + Gulp: A framework and workflow</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a href="/read-more-articles" title="Read more articles">Read more articles</li>

      </li>
    
  </ul>
</nav>

<nav class="links links--contact">
  <h3>Contact links</h3>

  <ul>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a href="mailto:bartus.csongor@gmail.com" title="Email">Email</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a href="http://twitter.com/metamn" title="Twitter">Twitter</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a href="http://github.com/metamn" title="Github">Github</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a href="http://metamn.tumblr.com" title="Tumblr">Tumblr</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a href="https://www.readability.com/metamn/" title="Readability">Readability</li>

      </li>
    
  </ul>
</nav>

  

<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

