html {
  &.work {
    display: flex;
    flex-wrap: wrap;
    
    .title {
      @include title;
    }

    .works {
      @include colors(white-on-blue);
      padding: $lem;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .work--thumb {
        @include work--thumb;
      }

    }
  }
}
