


<!doctype html>
<html lang="en" class="work">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Work &mdash; Metamn</title>

    <script src="//use.typekit.net/wrb3hlx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>


<header class="header">
  <div class="logo">
  <div class="logo__first-letter">
  
  <span class="circle">
  <span class="circle__content">M</span>
</span>

</div>


  <h1 class="logo__site-title">
    
    

  
  









  





<a href="/" title="Metamn">Metamn</li>

  </h1>
</div>

</header>


  


<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

