


<!doctype html>
<html lang="en" class="work">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Work &mdash; Metamn</title>

    <script src="//use.typekit.net/wrb3hlx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>


<header class="header">
  <div class="logo">
  <div class="logo__first-letter">
  
  <span class="circle">
  <span class="circle__content">M</span>
</span>

</div>


  <h1 class="logo__site-title">
    
    

  











  





<a href="/" title="Metamn">Metamn</li>

  </h1>
</div>

</header>


  <article class="title">
  <h3>Work</h3>
</article>


  
    
    <article class="work work--thumb">
  <h3 class="work--thumb__title">Wanderlust</h3>

  
  <figure >
  
    <a href="/wanderlust" title="The Wanderlust screenshot">
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/wanderlust-mobile-screenshot_desktop.png, /assets/images/wanderlust-mobile-screenshot_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/wanderlust-mobile-screenshot_laptop.png, /assets/images/wanderlust-mobile-screenshot_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/wanderlust-mobile-screenshot_tablet.png, /assets/images/wanderlust-mobile-screenshot_tablet2x.png 2x">
    <source srcset="/assets/images/wanderlust-mobile-screenshot_mobile.png, /assets/images/wanderlust-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/wanderlust-mobile-screenshot_desktop.png" alt="The Wanderlust screenshot">
  </picture>

  <figcaption>
    The Wanderlust screenshot
  </figcaption>

  </a>
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      Front-end, Wordpress
    </div>
  </aside>
</article>

  
    
    <article class="work work--thumb">
  <h3 class="work--thumb__title">Iorad</h3>

  
  <figure >
  
    <a href="/iorad" title="The Iorad screenshot">
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/iorad-mobile-screenshot_desktop.png, /assets/images/iorad-mobile-screenshot_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/iorad-mobile-screenshot_laptop.png, /assets/images/iorad-mobile-screenshot_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/iorad-mobile-screenshot_tablet.png, /assets/images/iorad-mobile-screenshot_tablet2x.png 2x">
    <source srcset="/assets/images/iorad-mobile-screenshot_mobile.png, /assets/images/iorad-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/iorad-mobile-screenshot_desktop.png" alt="The Iorad screenshot">
  </picture>

  <figcaption>
    The Iorad screenshot
  </figcaption>

  </a>
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      Design, Front-end
    </div>
  </aside>
</article>

  
    
    <article class="work work--thumb">
  <h3 class="work--thumb__title">OCCRP</h3>

  
  <figure >
  
    <a href="/occrp" title="The OCCRP screenshot">
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/occrp-mobile-screenshot_desktop.png, /assets/images/occrp-mobile-screenshot_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/occrp-mobile-screenshot_laptop.png, /assets/images/occrp-mobile-screenshot_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/occrp-mobile-screenshot_tablet.png, /assets/images/occrp-mobile-screenshot_tablet2x.png 2x">
    <source srcset="/assets/images/occrp-mobile-screenshot_mobile.png, /assets/images/occrp-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/occrp-mobile-screenshot_desktop.png" alt="The OCCRP screenshot">
  </picture>

  <figcaption>
    The OCCRP screenshot
  </figcaption>

  </a>
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      Design, Front-end
    </div>
  </aside>
</article>

  
    
    <article class="work work--thumb">
  <h3 class="work--thumb__title">Reboot</h3>

  
  <figure >
  
    <a href="/reboot" title="The Reboot screenshot">
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/reboot-mobile-screenshot_desktop.png, /assets/images/reboot-mobile-screenshot_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/reboot-mobile-screenshot_laptop.png, /assets/images/reboot-mobile-screenshot_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/reboot-mobile-screenshot_tablet.png, /assets/images/reboot-mobile-screenshot_tablet2x.png 2x">
    <source srcset="/assets/images/reboot-mobile-screenshot_mobile.png, /assets/images/reboot-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/reboot-mobile-screenshot_desktop.png" alt="The Reboot screenshot">
  </picture>

  <figcaption>
    The Reboot screenshot
  </figcaption>

  </a>
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      Front-end, Wordpress
    </div>
  </aside>
</article>

  
    
    <article class="work work--thumb">
  <h3 class="work--thumb__title">Anvelocom</h3>

  
  <figure >
  
    <a href="/anvelocom" title="The Anvelocom screenshot">
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/anvelocom-mobile-screenshot_desktop.png, /assets/images/anvelocom-mobile-screenshot_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/anvelocom-mobile-screenshot_laptop.png, /assets/images/anvelocom-mobile-screenshot_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/anvelocom-mobile-screenshot_tablet.png, /assets/images/anvelocom-mobile-screenshot_tablet2x.png 2x">
    <source srcset="/assets/images/anvelocom-mobile-screenshot_mobile.png, /assets/images/anvelocom-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/anvelocom-mobile-screenshot_desktop.png" alt="The Anvelocom screenshot">
  </picture>

  <figcaption>
    The Anvelocom screenshot
  </figcaption>

  </a>
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      Design, Front-end, Wordpress
    </div>
  </aside>
</article>

  
    
    <article class="work work--thumb">
  <h3 class="work--thumb__title">Scatter</h3>

  
  <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/_desktop.png" alt="">
  </picture>

  <figcaption>
    
  </figcaption>

  
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      
    </div>
  </aside>
</article>

  
    
    <article class="work work--thumb">
  <h3 class="work--thumb__title">Inu Chivu</h3>

  
  <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/_desktop.png" alt="">
  </picture>

  <figcaption>
    
  </figcaption>

  
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      
    </div>
  </aside>
</article>

  
    
    <article class="work work--thumb">
  <h3 class="work--thumb__title">Smuff</h3>

  
  <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/_desktop.png" alt="">
  </picture>

  <figcaption>
    
  </figcaption>

  
</figure>


  <aside class="work--thumb__services">
    <h3>Services</h3>

    <div>
      
    </div>
  </aside>
</article>

  


<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

