html {
  &.work {

    .title {
      @include title;
    }

    .works {
      @include colors(white-on-blue);
      padding: $lem;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      @include tablet-and-up {
        justify-content: flex-start;
      }

      .work--thumb {
        @include work--thumb;
      }

    }
  }
}
