// Creates a hidden menu sliding in from right on a click
// - this container has two elements, the first is the menu, the second is the content
// - adapted from https://developers.google.com/web/fundamentals/look-and-feel/animations/animating-between-views
@mixin sliding-menu($width: $sliding-menu) {
  #menu, article {
    @include full-page($position: absolute);
    @include animation;
  }

  #menu {
    width: $width;
    transform: translateX(-$width);

    @include mobile {
      width: $sliding-menu-mobile;
      transform: translateX(-$sliding-menu-mobile);
    }
  }

  &.view-change {
    #menu {
      transform: translateX(0);
    }

    #strapline-and-footer {
      transform: translateX($width);

      @include mobile {
        transform: translateX($sliding-menu-mobile);
      }

      #footer {
        #logo {
          @include text-logo-rotated;
        }
      }
    }
  }
}
