@mixin ios-device--iphone-5s($width) {
  border-radius: calc(#{$width} * 10.345 / 100);
  //width: $width;

  // Originally it was 212.068 but doesn't fit the screemshot
  height: calc(#{$width} * 200.068 / 100);

  padding: calc(#{$width} * 24.137 / 100) calc(#{$width} * 5.172 / 100);

  &:after {
    width: calc(#{$width} * 13.793 / 100);
    height: calc(#{$width} * 13.793 / 100);
    bottom: calc(#{$width} * 4.310 / 100);
  }
}
