@mixin value--ui__slider {
  padding: $lem/2 0;
  display: flex;

  @include phablet {
    padding-left: $lem;
  }

  div {
    margin-right: $lem/2;
    cursor: pointer;

    span {
      @include animation(opacity);

      &.active {
        display: none;
        opacity: 0;
      }
    }

    &.active {
      cursor: default;

      span {
        display: none;
        opacity: 0;

        &.active {
          display: flex;
          opacity: 1;
        }
      }
    }
  }
}
