@mixin content {
  background: #f1f1f1;
  padding: $lem 0;

  section {
    display: flex;
    wrap: no-wrap;
    //justify-content: space-around;
    align-items: center;

    aside {
      padding-left: $lem;

      h1 {
        @include font(title);
      }

      .button {
        @include button;
        display: none;
      }
    }

    position: relative;

    figure {
      position: absolute;
      
      //display: none;
      max-width: calc(49% - #{$lem} * 2);

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
