@mixin menu {
  @include colors(white-on-black);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  ul {
    // Do not overlay logo
    margin-bottom: $lem * 4;

    @include menu-items;
  }
}
