// http://www.impressivewebs.com/image-tint-blend-css/
@mixin color-overlay($color) {
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
  	display: block;
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: $color;
    @include animation(background);
  }

  &:hover {
    &:before {
      background: none;
      z-index: -1;
    }
  }
}
