// - from http://lukejamestaylor.com/portfolio/css-devices/
@mixin ios-device {
  background: #fff;
  border: 1px solid #000;
  position: relative;
  box-sizing: border-box;

  @include ios-device__button;

  &__screen {
    @include ios-device__screen;
  }
}
