@mixin ios-device {
  background: #121212;
  border: 1px solid #000;
  position: relative;
  box-sizing: border-box;

  &:after {
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid #444;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    left: 50%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    display: block;
  }
}
