// - from http://lukejamestaylor.com/portfolio/css-devices/
@mixin ios-device($width) {
  background: #fff;
  border: 1px solid #000;
  position: relative;
  box-sizing: border-box;

  @include ios-device__button;

  &__screen {
    @include ios-device__screen;
  }



  @include ios-device--white;
  @include ios-device--iphone-5s($width);
}
