

<figure >
  

  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/, /assets/images/ 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/, /assets/images/ 2x">
    <source srcset="/assets/images/, /assets/images/ 2x">
    <!--[if IE 9]></video><![endif]-->
  </picture>

  <figcaption>
    
  </figcaption>

  
</figure>
