@mixin figure {
  figure {
    //width: 320px;
    //transform: translatex(200px);

    width: 70%;

    img {
      max-width: 100%;
      height: auto;
    }

    figcaption {
      display: none;
    }
  }
}
