@mixin value--interactions {

  // The slider on UX is moved up on mobile
  @include mobile {
    padding-top: 0;
  }

  // Two columns
  @include mobile-and-up {
    display: flex;
    align-items: center;

    .value--interactions__mockup {
      order: -1;
      margin-right: $lem;
    }
  }


  .value--interactions__switcher {
    @include value--interactions__switcher;
  }

  .value--interactions__mockup {
    @include value--interactions__mockup;
  }
}
