@mixin value--ux {
  &__description {
    @include ux__description;
  }

  .container {
    @include mobile-and-up {
      display: flex;

      .value--ux__description {
        order: 2;
        padding-left: $lem;
      }
    }
  }
}
