@mixin value--ui {
  .value--ui__mockup {
    @include value--ui__mockup;

    @include tablet-and-below {
      display: none;
      &:first-of-type {
        display: flex;
      }
    }
  }

  @include tablet-and-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .value--ui__title {
      width: 100%;
    }
  }
}
