@mixin portfolio__slide {
  padding: $lem;
  @include colors(white-on-blue);

  display: flex;
  flex-wrap: wrap;

  @include mobile-and-up {
    flex-wrap: no-wrap;
    align-items: center;
  }

  .portfolio__text {
    @include portfolio__text;
  }

  .portfolio__image {
    @include portfolio__image;
  }
}
