@mixin portfolio__slide {
  @include colors(white-on-blue);

  display: flex;
  flex-wrap: wrap;

  @include mobile-and-up {
    flex-wrap: no-wrap;
    align-items: center;
  }

  .portfolio__text {
    @include portfolio__text;
  }

  .portfolio__image {
    @include portfolio__image;
  }

  padding: $lem;
  padding-bottom: none;

  &:nth-of-type(2n + 1) {
    padding: 0;

    .portfolio__image {
      figure {
        padding-bottom: $lem;

        figcaption {
          padding-left: $lem;
        }
      }
    }
  }

}
