@mixin value--ui__mockup {
  @include phablet {
    padding: 0 $lem;
  }

  .ios-device {
    @include phablet-and-below {
      @include ios-device;
      @include ios-device--white;
      @include ios-device--iphone-5s;
      @include ios-device--cut-half(23em);
    }

    .ios-device__screen {
      position: relative;

      figure {
        @include slider(4);

        img {
          width: 100%;
        }
      }
    }
  }
}
