@mixin slider--bullets {
  cursor: pointer;

  span {
    @include animation(opacity);

    &.active {
      display: none;
      opacity: 0;
    }
  }

  &.active {
    cursor: default;

    span {
      display: none;
      opacity: 0;

      &.active {
        display: flex;
        opacity: 1;
      }
    }
  }
}
