@mixin base {
  @include sliding-menu;

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .spacer {
      height: $lem * 7;
    }

    #header {
      padding-left: $lem;
    }

    #logo {
      padding-left: $lem;
    }
  }
}
