<section id="base">
  <h3>Header, footer and menu</h3>

  <nav id="menu">
  <h3>Menu</h3>

  <ul>
    <li>design</li>
    <li>code</li>
    <li>about</li>
    <li>contact</li>
  </ul>
</nav>


  <article>
    <h3>Header and footer</h3>

    <header id="header">
  <h1>
    <a href="/" title="Metamn">
      design &amp; code
    </a>
  </h1>
</header>


    <div class="spacer">&nbsp;</div>

    <div id="logo">
  <span class="first-letter">
    <span class="circle">M</span>
  </span>

  <span class="site-title">Metamn</span>
</div>

  </article>
</section>
