@mixin content {
  section {
    @include full-page(absolute);

    aside, article {
      @include full-page(absolute);

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    article {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
