@mixin logo {
  .circle {
    @include circle($lem + $lem / 2, $border);

    // Center the M perfectly
    position: relative;
    top: -2px;

    .first-letter {
      position: relative;
      top: 2px;
    }
  }
}
