html {
  body {
    @include text-style(default);
    @include reset;
    @include semantic-html5-titles;

    a {
      @include link;
    }

    .header {
      @include header;
    }

    .home__about {
      @include home__about;
    }

    .home__values {
      @include home__values;
    }

    .links {
      padding: $lem;
    }

    @include home-layout;
  }
}


@mixin home-layout {

  display: flex;
  flex-wrap: wrap;

  .home__values {
    @include colors(white-on-blue);

    @include cinema {
      order: -1;
    }
  }

}
