html {
  body {
    @include text-style(default);
    @include semantic-html5-titles;

    display: flex;
    flex-wrap: wrap;

    .header {
      @include header;
    }

    .home__about {
      @include home__about;
    }

    .home__values {
      @include home__values;
    }

    .links {
      padding: $lem;
    }
  }
}
