


<!doctype html>
<html lang="en" class="home">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Home &mdash; Metamn</title>

    <script src="//use.typekit.net/wrb3hlx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>


<header class="header">
  <div class="logo">
  <div class="logo__first-letter">
  
  <span class="circle">
  <span class="circle__content">M</span>
</span>

</div>


  <h1 class="logo__site-title">
    
    

  
  









  





<a href="/" title="Metamn">Metamn</li>

  </h1>
</div>

</header>


  <article class="home__about">
  <h3>Design and code</h3>

  <div class="about">
  
    <p>Hello, I'm a designer and developer creating user interfaces and experiences for the web.</p>
  
    <p>Lately I've been working on design, front&ndash;end and Wordpress projects with clients worldwide.</p>
  
</div>

</article>


  
  <section class="home__values">
  <h3>Values</h3>

  
    
    

  
  <article class="value value--ui">
  <h3 class="value__title value--ui__title">Clean User Interfaces</h3>

  
  <div class="value--ui__mockup">
  
  <div class="ios-device ios-device--white ios-device--large ios-device--iphone-5s">
  
  <div class="ios-device__screen">
  
    
    <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  
    
    
    
    
      
      
    
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/inu-frontpage-laptop-front_desktop.png, /assets/images/inu-frontpage-laptop-front_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/inu-frontpage-laptop-front_laptop.png, /assets/images/inu-frontpage-laptop-front_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/inu-frontpage-laptop-front_tablet.png, /assets/images/inu-frontpage-laptop-front_tablet2x.png 2x">
    <source srcset="/assets/images/smuff-archive-mobile-screenshot_mobile.png, /assets/images/smuff-archive-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/inu-frontpage-laptop-front_desktop.png" alt="The Smuff archive page on mobile">
  </picture>

  <figcaption>
    The Smuff archive page on mobile
  </figcaption>

  
</figure>

  
    
    <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  
    
    
    
    
      
      
    
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/scatter-frontpage-laptop-front_desktop.png, /assets/images/scatter-frontpage-laptop-front_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/scatter-frontpage-laptop-front_laptop.png, /assets/images/scatter-frontpage-laptop-front_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/scatter-frontpage-laptop-front_tablet.png, /assets/images/scatter-frontpage-laptop-front_tablet2x.png 2x">
    <source srcset="/assets/images/scatter-frontpage-mobile-screenshot_mobile.png, /assets/images/scatter-frontpage-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/scatter-frontpage-laptop-front_desktop.png" alt="The Scatter frontpage on mobile">
  </picture>

  <figcaption>
    The Scatter frontpage on mobile
  </figcaption>

  
</figure>

  
    
    <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  
    
    
    
    
      
      
    
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/iorad-pricing-laptop-front_desktop.png, /assets/images/iorad-pricing-laptop-front_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/iorad-pricing-laptop-front_laptop.png, /assets/images/iorad-pricing-laptop-front_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/iorad-pricing-laptop-front_tablet.png, /assets/images/iorad-pricing-laptop-front_tablet2x.png 2x">
    <source srcset="/assets/images/occrp-mobile-frontpage-screenshot_mobile.png, /assets/images/occrp-mobile-frontpage-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/iorad-pricing-laptop-front_desktop.png" alt="The OCCRP frontpage on mobile">
  </picture>

  <figcaption>
    The OCCRP frontpage on mobile
  </figcaption>

  
</figure>

  
    
    <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  
    
    
    
    
      
      
    
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/anvelocom-frontpage-laptop-front_desktop.png, /assets/images/anvelocom-frontpage-laptop-front_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/anvelocom-frontpage-laptop-front_laptop.png, /assets/images/anvelocom-frontpage-laptop-front_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/anvelocom-frontpage-laptop-front_tablet.png, /assets/images/anvelocom-frontpage-laptop-front_tablet2x.png 2x">
    <source srcset="/assets/images/anvelocom-menu-mobile-screenshot_mobile.png, /assets/images/anvelocom-menu-mobile-screenshot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/anvelocom-frontpage-laptop-front_desktop.png" alt="The Anvelocom menu on mobile">
  </picture>

  <figcaption>
    The Anvelocom menu on mobile
  </figcaption>

  
</figure>

  
</div>

</div>

</div>

</article>



  
    
    

  
  <article class="value value--interactions">
  <h3 class="value__title value--interactions__title">Meaningful Interactions</h3>
  
  
  
    
    <div class="value--interactions__mockup">
  
  <div class="ios-device ios-device--white ios-device--large ios-device--iphone-5s">
  
  <div class="ios-device__screen">
  
    
    <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/_desktop.png" alt="">
  </picture>

  <figcaption>
    
  </figcaption>

  
</figure>

  
    
    <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/_desktop.png" alt="">
  </picture>

  <figcaption>
    
  </figcaption>

  
</figure>

  
</div>

</div>

</div>

  
    
    <div class="value--interactions__mockup">
  
  <div class="ios-device ios-device--white ios-device--large ios-device--iphone-5s">
  
  <div class="ios-device__screen">
  
    
    <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/_desktop.png" alt="">
  </picture>

  <figcaption>
    
  </figcaption>

  
</figure>

  
    
    <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/_desktop.png" alt="">
  </picture>

  <figcaption>
    
  </figcaption>

  
</figure>

  
</div>

</div>

</div>

  
</article>



  
    
    

  
  <article class="value value--ux">
  <h3 class="value__title value--ux__title">Usability &amp; User Experience</h3>

  <div class="container">
    <aside class="value__description value--ux__description">
  <h3>Description</h3>

  <div>
    <blockquote>Visitors can focus only on five things on a page</blockquote>
    <p class="blockquote--source">
      
      

  
  













<a href="/na" title="Jakob Nielsen, Usability Expert">Jakob Nielsen, Usability Expert</li>

    </p>

    <ol>
      <li>Identity</li>
      <li>Offer</li>
      <li>Values</li>
      <li>Action</li>
      <li>Entertainment</li>
    </ol>
  </div>
</aside>


    
    
    <aside class="value__images value--ux__images">
  <h3>Images for Usability &amp; User Experience</h3>

  
  <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/ux-five-focus-points_desktop.png, /assets/images/ux-five-focus-points_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/ux-five-focus-points_laptop.png, /assets/images/ux-five-focus-points_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/ux-five-focus-points_tablet.png, /assets/images/ux-five-focus-points_tablet2x.png 2x">
    <source srcset="/assets/images/ux-five-focus-points_mobile.png, /assets/images/ux-five-focus-points_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/ux-five-focus-points_desktop.png" alt="The five focus points">
  </picture>

  <figcaption>
    The five focus points
  </figcaption>

  
</figure>

</aside>

  </div>
</article>



  
    
    

  
  <article class="value value--wordpress">
  <h3 class="value__title value--wordpress__title">Wordpress</h3>

  <div class="container">
    
    
    <aside class="value__images value--wordpress__images">
  <h3>Images for Wordpress</h3>

  
  <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/wordpress-logo-notext-rgb_desktop.png, /assets/images/wordpress-logo-notext-rgb_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/wordpress-logo-notext-rgb_laptop.png, /assets/images/wordpress-logo-notext-rgb_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/wordpress-logo-notext-rgb_tablet.png, /assets/images/wordpress-logo-notext-rgb_tablet2x.png 2x">
    <source srcset="/assets/images/wordpress-logo-notext-rgb_mobile.png, /assets/images/wordpress-logo-notext-rgb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/wordpress-logo-notext-rgb_desktop.png" alt="The Wordpress logo">
  </picture>

  <figcaption>
    The Wordpress logo
  </figcaption>

  
</figure>

</aside>


    
    
    <aside class="value__description value--wordpress__description">
  <h3>Description</h3>

  <ul>
    
      <li>10 years experience</li>
    
      <li>Custom themes</li>
    
      <li>Custom plugins</li>
    
      <li>Storytelling</li>
    
  </ul>
</aside>

  </div>
</article>



  
</section>


  <nav class="links links--main">
  <h3>Main links</h3>

  <ul>
    
      
      <li>

  
  













<a href="/work" title="Work">Work</li>
</li>
    
      
      <li>

  
  













<a href="/styleguide" title="Styleguide">Styleguide</li>
</li>
    
      
      <li>

  
  













<a href="/about" title="About">About</li>
</li>
    
      
      <li>

  
  













<a href="/contact" title="Contact">Contact</li>
</li>
    
  </ul>
</nav>

  <nav class="links links--articles">
  <h3>Articles</h3>

  <ul>
    
      
      <li>

  
  













<a href="/how-this-site-was-made" title="How this site was made">How this site was made</li>
</li>
    
      
      <li>

  
  













<a href="/usability-and-experience-design" title="Usability &amp; Experience Design">Usability &amp; Experience Design</li>
</li>
    
      
      <li>

  
  













<a href="/wordpress" title="Wordpress">Wordpress</li>
</li>
    
  </ul>
</nav>

  <nav class="links links--contact">
  <h3>Contact links</h3>

  <ul>
    
      
      <li>

  
  









  





<a href="mailto:bartus.csongor@gmail.com" title="Email">Email</li>
</li>
    
      
      <li>

  
  









  





<a href="http://twitter.com/metamn" title="Twitter">Twitter</li>
</li>
    
      
      <li>

  
  









  





<a href="http://github.com/metamn" title="Github">Github</li>
</li>
    
      
      <li>

  
  









  





<a href="http://metamn.tumblr.com" title="Tumblr">Tumblr</li>
</li>
    
      
      <li>

  
  









  





<a href="https://www.readability.com/metamn/" title="Readability">Readability</li>
</li>
    
  </ul>
</nav>



<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

