


<!doctype html>
<html lang="en" class="home">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Home &mdash; Metamn</title>

    <script type="text/javascript">
    (function() {
        var path = '//easy.myfonts.net/v2/js?sid=5071(font-family=Neuzeit+Grotesk+Bold)&sid=5070(font-family=Neuzeit+Grotesk+Regular)&sid=5069(font-family=Neuzeit+Grotesk+Light)&key=FcBJMlF3Ms',
            protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
            trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
    </script>

    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>


<header class="header">
  <div class="logo">
  <div class="logo__first-letter">
  
  <span class="circle">
  <span class="circle__content">M</span>
</span>

</div>


  <h1 class="logo__site-title">Metamn</h1>
</div>

</header>


  <article class="home__about">
  <h3>Design and code</h3>

  <div class="about">
  
    <p>Hello, I'm a designer and developer crafting user interfaces and experiences for the web.</p>
  
    <p>Lately I've been working mostly with New York City companies on design, front&ndash;end and Wordpress projects.</p>
  
</about>

</article>


  
  <section class="home__values">
  <h3>Values</h3>

  
    
    
    <article class="ui">
  <h3>Clean User Interfaces</h3>
</article>

  
    
    
    <article class="interactions">
  <h3>Meaningful Interactions</h3>
</article>

  
    
    
    <article class="ux">
  <h3>User Experience Design</h3>
</article>

  
    
    
    <article class="styleguide">
  <h3>Components and Styleguide</h3>
</article>

  
    
    
    <article class="workflow">
  <h3>Gulp Workflow</h3>
</article>

  
    
    
    <article class="wordpress">
  <h3>Wordpress</h3>
</article>

  
</section>



<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

