


<!doctype html>
<html lang="en" class="home">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Home &mdash; Metamn</title>

    <script type="text/javascript">
    (function() {
        var path = '//easy.myfonts.net/v2/js?sid=5071(font-family=Neuzeit+Grotesk+Bold)&sid=5070(font-family=Neuzeit+Grotesk+Regular)&sid=5069(font-family=Neuzeit+Grotesk+Light)&key=FcBJMlF3Ms',
            protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
            trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
    </script>

    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>


<header class="header">
  <div class="logo">
  <div class="logo__first-letter">
  
  <span class="circle">
  <span class="circle__content">M</span>
</span>

</div>


  <h1 class="logo__site-title">Metamn</h1>
</div>

</header>


  <article class="home__about">
  <h3>Design and code</h3>

  <div class="about">
  
    <p>Hello, I'm a designer and developer crafting user interfaces and experiences for the web.</p>
  
    <p>Lately I've been working mostly with New York City companies on design, front&ndash;end and Wordpress projects.</p>
  
</about>

</article>


  
  <section class="home__values">
  <h3>Values</h3>

  
    
    

  
  <article class="value value--ui">
  <h3 class="value__title value--ui__title">Clean User Interfaces</h3>

  
  
  <aside class="value__images value--ui__images">
  <h3>Images for Clean User Interfaces</h3>

  
  <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/scatter-home-second-slide-desktop_desktop.png, /assets/images/scatter-home-second-slide-desktop_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/scatter-home-second-slide-desktop_laptop.png, /assets/images/scatter-home-second-slide-desktop_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/scatter-home-second-slide-desktop_tablet.png, /assets/images/scatter-home-second-slide-desktop_tablet2x.png 2x">
    <source srcset="/assets/images/scatter-home-second-slide-desktop_mobile.png, /assets/images/scatter-home-second-slide-desktop_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/scatter-home-second-slide-desktop_desktop.png" alt="Scatter Homepage">
  </picture>

  <figcaption>
    Scatter Homepage
  </figcaption>

  
</figure>

</aside>

</article>



  
    
    

  
  <article class="value value--interactions">
  <h3 class="value__title value--interactions__title">Meaningful Interactions</h3>

  
  
  <aside class="value__images value--interactions__images">
  <h3>Images for Meaningful Interactions</h3>

  
  <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  
    
    
    
    
      
      
    
  
    
    
    
      
      
    
    
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/placeholder-16-9_desktop.png, /assets/images/placeholder-16-9_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/placeholder-16-9_laptop.png, /assets/images/placeholder-16-9_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/placeholder-2-3_tablet.png, /assets/images/placeholder-2-3_tablet2x.png 2x">
    <source srcset="/assets/images/placeholder-2-3_mobile.png, /assets/images/placeholder-2-3_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/placeholder-16-9_desktop.png" alt="Placeholder 16:9">
  </picture>

  <figcaption>
    Placeholder 16:9
  </figcaption>

  
</figure>

</aside>

</article>



  
    
    

  
  <article class="value value--ux">
  <h3 class="value__title value--ux__title">User Experience Design</h3>

  
  
  <aside class="value__images value--ux__images">
  <h3>Images for User Experience Design</h3>

  
  <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  
    
    
    
    
      
      
    
  
    
    
    
      
      
    
    
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/placeholder-16-9_desktop.png, /assets/images/placeholder-16-9_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/placeholder-16-9_laptop.png, /assets/images/placeholder-16-9_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/placeholder-2-3_tablet.png, /assets/images/placeholder-2-3_tablet2x.png 2x">
    <source srcset="/assets/images/placeholder-2-3_mobile.png, /assets/images/placeholder-2-3_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/placeholder-16-9_desktop.png" alt="Placeholder 16:9">
  </picture>

  <figcaption>
    Placeholder 16:9
  </figcaption>

  
</figure>

</aside>

</article>



  
    
    

  
  <article class="value value--styleguide">
  <h3 class="value__title value--styleguide__title">Components and Styleguide</h3>

  
  <aside class="value__images value--styleguide__images">
  <h3>Images for Components and Styleguide</h3>

  
  <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  
    
    
    
    
      
      
    
  
    
    
    
      
      
    
    
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/placeholder-16-9_desktop.png, /assets/images/placeholder-16-9_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/placeholder-16-9_laptop.png, /assets/images/placeholder-16-9_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/placeholder-2-3_tablet.png, /assets/images/placeholder-2-3_tablet2x.png 2x">
    <source srcset="/assets/images/placeholder-2-3_mobile.png, /assets/images/placeholder-2-3_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/placeholder-16-9_desktop.png" alt="Placeholder 16:9">
  </picture>

  <figcaption>
    Placeholder 16:9
  </figcaption>

  
</figure>

</aside>

</article>



  
    
    

  
  <article class="value value--workflow">
  <h3 class="value__title value--workflow__title">Gulp Workflow</h3>

  
  
  <aside class="value__images value--workflow__images">
  <h3>Images for Gulp Workflow</h3>

  
  <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  
    
    
    
    
      
      
    
  
    
    
    
      
      
    
    
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/placeholder-16-9_desktop.png, /assets/images/placeholder-16-9_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/placeholder-16-9_laptop.png, /assets/images/placeholder-16-9_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/placeholder-2-3_tablet.png, /assets/images/placeholder-2-3_tablet2x.png 2x">
    <source srcset="/assets/images/placeholder-2-3_mobile.png, /assets/images/placeholder-2-3_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/placeholder-16-9_desktop.png" alt="Placeholder 16:9">
  </picture>

  <figcaption>
    Placeholder 16:9
  </figcaption>

  
</figure>

</aside>

</article>



  
    
    

  
  <article class="value value--wordpress">
  <h3 class="value__title value--wordpress__title">Wordpress</h3>

  
  
  <aside class="value__images value--wordpress__images">
  <h3>Images for Wordpress</h3>

  
  <figure >
  


  
  
  
  
  
  
  
  

  
  <!-- Showing different images for different devices -->
  
    
    
    
    
      
      
    
  
    
    
    
      
      
    
    
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/placeholder-16-9_desktop.png, /assets/images/placeholder-16-9_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/placeholder-16-9_laptop.png, /assets/images/placeholder-16-9_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/placeholder-2-3_tablet.png, /assets/images/placeholder-2-3_tablet2x.png 2x">
    <source srcset="/assets/images/placeholder-2-3_mobile.png, /assets/images/placeholder-2-3_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/placeholder-16-9_desktop.png" alt="Placeholder 16:9">
  </picture>

  <figcaption>
    Placeholder 16:9
  </figcaption>

  
</figure>

</aside>

</article>



  
</section>



<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

