html {

  // common settings
  body {
    @include text-style(default);
    @include semantic-html5-titles;

    #header {
      @include header;
    }
  }

  // homepage elements
  &.home {
    section {
      &#hero {
        @include hero;
      }

      &#about {
        @include about;
      }

      &.slide {
        margin: $lem;
        max-width: 37em;

        > h3 {
          display: block;
        }

        figure {
          @include figure;
          @include placeholder;
        }
      }
    }
  }
}
