


<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title> &mdash; Metamn</title>

    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <script src="//use.typekit.net/qiy3lwz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>


<!-- for the HTML5 outliner -->
<h1 class="hidden">Metamn</h1>

<section id="base">
  <h3>Base layer</h3>

  <nav id="menu">
  <h3>Menu</h3>

  <ul>
    <li>design</li>
    <li>code</li>
    <li>about</li>
    <li>contact</li>
  </ul>
</nav>

  <article id="strapline-and-footer">
  <h3>Strapline and footer</h3>

  <aside id="strapline">
  <h3>
    <a href="/" title="Metamn">
      design &amp; code
    </a>
  </h3>
</aside>


  <!-- Needed for flexbox alignment -->
  <div class="spacer">&nbsp;</div>

  <aside id="footer">
  <h3>Footer</h3>

  <aside id="logo">
  <h3>Logo</h3>

  <span class="first-letter">
    <span class="circle">M</span>
  </span>

  <span class="site-title">Metamn</span>
</aside>

  <aside id="actionbar">
  <h3>Action bar</h3>

  <nav>
  <h3>Navigation bullets</h3>
  <ul>
    <li>1</li>
    <li>1</li>
    <li>2</li>
  </ul>
</nav>


  
  


<div id="view-portfolio">
  <a href="//portfolio" title="View portfolio">
    View portfolio
  </a>
</div>


  
  


<div id="visit-styleguide">
  <a href="//styleguide" title="Visit styleguide">
    Visit styleguide
  </a>
</div>


  
  


<div id="contact">
  <a href="//contact" title="Contact">
    Contact
  </a>
</div>

</aside>

</aside>

</article>


</section>


<!-- cannot be moved into a partial because of the  -->
<section id="content">
  <h3>Content</h3>
  
</section>


<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

