


<!doctype html>
<html lang="en" class="home">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Home &mdash; Metamn</title>

    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <script src="//use.typekit.net/qiy3lwz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>


<h1 class="hidden">Metamn</h1>

<section id="base">
  <h3>Base layer</h3>

  <nav id="menu">
  <h3>Menu</h3>

  <ul>
    <li>design</li>
    <li>code</li>
    <li>about</li>
    <li>contact</li>
  </ul>
</nav>


  <article>
    <h3>Strapline and footer</h3>

    <aside id="strapline">
  <h3>
    <a href="/" title="Metamn">
      design &amp; code
    </a>
  </h3>
</aside>


    <div class="spacer">&nbsp;</div>

    <aside id="footer">
  <h3>Footer</h3>

  <aside id="logo">
  <h3>Logo</h3>

  <span class="first-letter">
    <span class="circle">M</span>
  </span>

  <span class="site-title">Metamn</span>
</aside>

  <aside id="actionbar">
  <h3>Action bar</h3>

  <nav>
  <h3>Navigation bullets</h3>
  <ul>
    <li>1</li>
    <li>1</li>
    <li>2</li>
  </ul>
</nav>


  
  


<div id="view-portfolio">
  <a href="//portfolio" title="View portfolio">
    View portfolio
  </a>
</div>


  
  


<div id="visit-styleguide">
  <a href="//styleguide" title="Visit styleguide">
    Visit styleguide
  </a>
</div>


  
  


<div id="contact">
  <a href="//contact" title="Contact">
    Contact
  </a>
</div>

</aside>

</aside>

  </article>
</section>

<section id="content">
  <h3>Content</h3>
  

  
    <section id="ui">
      <h3>Clean User Interfaces</h3>

      <aside>
        <div class="title">
          <h2>Clean <br/> User <br/> Interfaces</h2>
        </div>
      </aside>

      <article>
        <h3>The Anvelocom frontpage on laptop</h3>

        
        <figure >
  

  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 90em)" srcset="/assets/images/anvelocom-archive-laptop-front_desktop.png, /assets/images/anvelocom-archive-laptop-front_desktop2x.png 2x">
    <source media="(min-width: 64em)" srcset="/assets/images/anvelocom-archive-laptop-front_laptop.png, /assets/images/anvelocom-archive-laptop-front_laptop2x.png 2x">
    <source media="(min-width: 37.5em)" srcset="/assets/images/anvelocom-archive-laptop-front_tablet.png, /assets/images/anvelocom-archive-laptop-front_tablet2x.png 2x">
    <source srcset="/assets/images/anvelocom-archive-laptop-front_mobile.png, /assets/images/anvelocom-archive-laptop-front_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/anvelocom-archive-laptop-front_desktop.png" alt="The Anvelocom frontpage on laptop">
  </picture>

  <figcaption>
    The Anvelocom frontpage on laptop
  </figcaption>

  
</figure>

      </article>
    </section>
  


</section>


<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

