html.home {
  body {
    @include colors(black-on-white);
    @include semantic-html5;

    #content {
      section {
        @include section-home;

        &#ui {
          @include article-home-ui;
          background: #347DDB;
        }

        &#mi {
          background: #196C39;
        }

        &#ux {
          background: #4B573C;
        }
      }
    }
  }
}
