@mixin value {
  background: $lightgray;
  margin-bottom: $lem;

  display: flex;
  align-items: center;

  // Title
  .value__title {
    display: flex;
    flex: 1 0 0px;
  }

  // Images
  .value__images {
    flex: 4 0 0px;

    @include tablet-and-below {
      flex: 2 0 0px;
    }

    // center
    display: flex;
    justify-content: center;

    figure {
      @include figure;
      @include placeholder;

      width: 70%;
      @include tablet-and-below {
        width: 100%;
      }
    }
  }

  &.value--ui {
    @include value--ui;
  }
}
