@mixin value {
  padding: $lem;

  display: flex;
  flex-direction: column;

  figure {
    @include figure;
  }

  // Display semantic HTML5 titles
  .value__title {
    display: flex;
  }

  &.value--ui {
    @include value--ui;
  }

  &.value--interactions {
    @include value--interactions;
  }

  &.value--ux {
    @include value--ux;
  }

  &.value--wordpress {
    @include value--wordpress;
  }
}
