@mixin value {
  margin-bottom: $lem;

  display: flex;
  align-items: center;

  // Title
  .value__title {
    display: none;
  }

  // Images
  .value__images {
    figure {
      @include figure;
      @include placeholder;
    }
  }

  &.value--ui {
    @include value--ui;
  }
}
