@mixin text-logo-rotated {
  @include colors(white-on-black);
  transform: translateX(-300px);

  span {
    &.first-letter {
      span {
        transform: rotate(0deg);
      }
    }

    &.site-title {
      display: inline-block;
    }
  }
}
