@mixin text-menu {
  @include colors(white-on-black);
  @include font(strapline);

  ul {
    list-style: none;

    li {
      margin: $lem 0 $lem - $lem / 4;
      padding-bottom: $lem / 4;
      border-bottom: 1px solid $list-border-bottom;
    }
  }
}
