@mixin text-menu {
  @include colors(white-on-black);
  @include font(strapline);

  ul {
    // Do not overlay logo
    margin-bottom: $lem * 4;

    list-style: none inside;
    margin-left: $lem * 2.1;

    li {
      margin: $lem 0 $lem - $lem / 4;
      padding-bottom: $lem / 4;
      border-bottom: 1px solid $list-border-bottom;
    }
  }
}
