@mixin actionbar {
  // Center bullets and buttons
  // - translateX works only if there is space around the items, so we are stretching the actionbar
  // - we are centering bullets exactly under the image above, which is translated to
  width: calc(100% - #{$logo-icon-width});
  $center: calc(50% + #{$home-image-left-from-center - $logo-icon-width});
  transform: translateX($center);

  nav {
    @include navigation-bullets;
  }

  .button {
    @include button;
    display: none;
  }
}
