@mixin navigation-bullets {
  display: flex;
  align-items: center;

  div {
    margin-right: $lem;

    span {
      @include circle($bullet-width);
    }
  }

  #active-bullet {
    @include active-bullet(3);
  }
}
