@mixin navigation-bullets {
  display: flex;
  align-items: center;

  div {
    margin-right: $lem;

    span {
      @include circle(calc(#{$bullet-width} + 1px));
    }
  }

  #active-bullet {
    @include active-bullet(1);
  }
}
