@mixin logo {
  @include font(logo);
  @include animation;

  display: flex;
  align-items: center;

  span {
    display: inline-block;

    &.first-letter {
      span {
        @include circle;
        transform: rotate(-90deg);
      }
    }

    &.site-title {
      margin-left: $lem;
      display: none;
    }
  }
}


@mixin logo-rotate {
  @include colors(white-on-black);
  transform: translateX(-300px);

  span {
    &.first-letter {
      span {
        transform: rotate(0deg);
      }
    }

    &.site-title {
      display: inline-block;
    }
  }
}
